@import "../../../sass/variables.scss";

main {
	width: 90vw;
	margin: 5rem auto;
	max-width: 620px;
	.SinglePokemon {
		background: white;
		box-shadow: 1rem;
		transition: 1rem;
		border-radius: 1rem;

		& img {
			width: 100%;
			height: 25rem;
			object-fit: cover;
			border-top-right-radius: 1rem;
			border-top-left-radius: 1rem;
		}
	}
	.PokemonDescription {
		color: black;
		background: #fff;
		text-align: center;
		margin-top: 2rem;
		.PokemonTitle {
			margin-top: 0.4rem;
			letter-spacing: 0.3rem;
			text-transform: uppercase;
		}
		h1 {
			color: $yellow;
		}
	}
	.PokemonType {
		display: flex;
		flex-direction: row-reverse;

		p {
			margin-right: 0.8rem;
			background: #ebf7ff;
			padding: 0.25rem 0.5rem;
			border-radius: 5px;
			color: #49a6e9;
			margin-bottom: 1rem;
		}
		span {
			margin-right: 0.8rem;
			background: #ebf7ff;
			padding: 0.25rem 0.5rem;
			border-radius: 5px;
			color: $blue;
			margin-bottom: 1rem;
			text-decoration: none;
			&:hover {
				background: $yellow;
				cursor: pointer;
			}
		}
		@media screen and (max-width: 568px) {
			flex-direction: column-reverse;
			padding: 1rem;
		}
		@media screen and (max-width: 380px) {
			flex-direction: column-reverse;
			padding: 1rem;
		}
	}
	.PokemonAbility {
		display: flex;
		flex-direction: row-reverse;
		p {
			margin-right: 0.8rem;
			background: #f3e2bf;
			padding: 0.25rem 0.5rem;
			border-radius: 5px;
			color: rgb(243, 182, 39);
			margin-bottom: 1rem;
		}
		span {
			margin-right: 0.8rem;
			background: #f3e2bf;
			padding: 0.25rem 0.5rem;
			border-radius: 5px;
			color: rgb(243, 182, 39);
			margin-bottom: 1rem;
			text-decoration: none;
		}
		span:hover {
			background: $yellow;
		}
		@media screen and (max-width: 568px) {
			flex-direction: column-reverse;
			padding: 1rem;
		}
		@media screen and (max-width: 380px) {
			flex-direction: column-reverse;
			padding: 1rem;
		}
	}
	.ShowPokemonsByType {
		display: flex;
		color: $yellow;
	}
	.LinkGoBack {
		text-decoration: none;
	}
	.BtnGoBack {
		display: block;
		margin: 3rem auto 0 auto;
		padding: 10px;
		border-radius: 10px;
		min-width: 200px;
		border: 2px solid $yellow;
		background: #fff;
		text-transform: uppercase;
		&:hover {
			color: #fff;
			background: $blue;
			border: 0;
		}
	}
}
