@import "../../../sass/variables.scss";

.Pokemons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem;

	.Pokemon {
		flex: 0 1 calc(33% - 1rem);
		text-align: center;
		padding: 0.8rem;
		margin-top: 1rem;
		background: #fff;
		border-radius: 0.25rem;
		margin: 2rem 0;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
		transition: all 0.3s linear;
		text-decoration: none;
		font-size: 1rem;
		color: black;
		color: $yellow;
		text-transform: uppercase;

		&:hover {
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
			.PokemonTitle {
				color: $blue;
			}
		}
		& img {
			width: 100%;
			height: 25rem;
			object-fit: cover;
			border-top-right-radius: 0.25rem;
			border-top-left-radius: 0.25rem;
		}
		& .footer {
			padding: 1.5rem 2rem;
		}
		@media screen and (max-width: 768px) {
			flex: 0 1 calc(50% - 1rem);
		}
		@media screen and (max-width: 380px) {
			flex: 0 1 calc(100% - 1rem);
		}
	}
	.Message {
		margin: 2rem auto;
		color: $blue;
	}
}
.Pagination {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 30vw;
	text-decoration: none;
	margin: 0 auto;
	background: #d3d3d361;
	padding: 0.5rem 0.8rem;
	border-radius: 0.2rem;
	margin-bottom: 1rem;
	a {
		text-decoration: none;
		color: $blue;
		&:hover {
			color: $yellow;
		}
	}

	@media (max-width: 380px) {
		width: 50vw;
	}
	@media (max-width: 768px) {
		width: 80vw;
	}
}

.FilterOptions {
	background: #fff;
	display: flex;
	margin: 2rem auto 0 auto;
	max-width: 60vw;
	min-height: 100px;
	border-radius: 2px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	align-items: center;
	justify-content: space-around;
	.FiltersFormBlock {
		display: flex;
		flex-direction: column;
		.FilterLabel {
			color: $blue;
		}
		.FilterInput {
			border: none;
			border-bottom: 0.1rem solid $yellow;
			padding: 0.3rem 0.4rem;
			font-size: 0.9rem;
			outline: none;
		}
		@media screen and (max-width: 380px) {
			margin-bottom: 1.5rem;
		}
		@media screen and (max-width: 768px) {
			margin-bottom: 1.5rem;
		}
	}
	@media screen and (max-width: 768px) {
		display: flex;
		flex-direction: column;
		flex: 0 1 calc(50% - 1rem);
		align-items: stretch;
		padding: 1.5rem;
	}
	@media screen and (max-width: 380px) {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		flex: 0 1 calc(100% - 1rem);
		align-items: stretch;
		padding: 1.5rem;
	}
}
